*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img1 {  
    height: 45.6vw;   
    width: 99.9vw;
}
